
 .dashboard {
    /* position: relative; */
    height: 90%;
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px solid red;
}

.dashboard-heading {
    position: relative;
    top: 2rem;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    /* text-transform: uppercasea; */
    /* outline: 1px solid red; */
}

.addNoteForm, #addNoteBtn {
    position: relative;
    top: 2.2rem;
    width: 20rem;
    /* outline: 1px solid blue; */
}

#addNoteBtn {
    height: 2rem;
}

.addNoteForm, #addNoteBtnAct {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.addNoteForm.active {
    position: relative;
    opacity: 1;
    pointer-events: auto;
    overflow: hidden;
    animation: bringNoteForm .5s 1;
}

@keyframes bringNoteForm {
    0% {
        opacity: 0;
        height: 10px;
    }
    50% {
        height: 4.2rem;
    }
}

.addNoteForm * {
    width: 100%;
    height: 2rem;
    margin-bottom: .2rem;
}

.addNoteForm #addNoteBtn {
    top: 0px;
}

#notesCntr {
    position: relative;
    top: 3.5rem;
    height: 70%; 
    width: 20rem;
    display: grid;
    grid-template-columns: repeat(1, 1rem);
    grid-row-gap: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    outline: 1px solid red;
}

#notesCntr::-webkit-scrollbar {
    width: 0px;
}

#indNote {
    position: relative;
    left: 2rem;
    width: 16rem;
    height: 12rem;
}

.card-body:hover {
    background: rgba(52, 58, 64, .1);
    transition: .1s linear;
    cursor: pointer;
}

.card-body:active {
    background: none;
}

#indNote .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.noteName {
    height: 90px;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
    /* outline: 1px solid green; */
}

.date-removeCntr {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 85%;
    /* outline: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noteCreatedDate {
    position: relative;
    top: 6px;
    font-size: 16px;
    font-weight: 500;
}

.removeNoteBtn {
    position: relative;
    cursor: pointer;
}

.removeNoteBtn:hover {
    color: #fff;
    background: #bf0603;
    transition: .1s linear;
}

.removeNoteBtn:active {
    color:#343a40;
    background: none;
    transition: .1s linear;
}

@media screen and (min-width: 650px) {
    #notesCntr {
        width: 38rem;
        grid-template-columns: repeat(2, 18rem);
    }

    .addNoteForm, #addNoteBtn {
        width: 34rem;
    }
}

@media screen and (min-width: 1000px) {
    .dashboard {
        position: relative;
        left: 21rem;
        width: 40rem;
    }
}

@media screen and (min-width: 1300px) {
    .dashboard {
        left: 28rem;
    }
}

@media screen and (min-width: 1600px) {
    .dashboard {
        left: 35rem;
        width: 60rem;
    }

    #notesCntr {
        width: 56rem;
        grid-template-columns: repeat(3, 18rem);
    }
}

@media screen and (min-width: 1900px) {
    .dashboard  {
        left: 40rem;
    }
}

@media screen and (min-width: 2350px ) {
    .dashboard {
        left: 58rem;
    }
}