
<div class='dashboard'>
    <p class='dashboard-heading'>All Notes</p>

    <button type='submit' class='btn btn-primary btn-block' id={{showAddNoteBtn()}} (click)='setAddNote()'>Add Note</button>

    <form class={{showAddNote()}}>
        <input name='name' placeholder='Note Name' class='input-group-text' id='noteNameInput'/>

        <button type='submit' (click)='setAddNote()' class='btn btn-primary btn-block' id='addNoteBtn'>Add Note</button> 
    </form>

    <div id='notesCntr' *ngFor="let note of notes; let i = index">

        <div class='card' id='indNote' >
            <div class='card-body' (click)="test2()">
                <p class='noteName'>{{note.name}}</p>

               
            </div>
            <div class='date-removeCntr'>
                <p class='noteCreatedDate'>00/00/0000</p>
        
                <mat-icon class='removeNoteBtn'  (click)="test(note.id)">remove</mat-icon>
            </div>
        </div>

    </div>
</div>


<!-- [note]={{note.id}} -->