
<div class='noteView'>


    <form [formGroup]='editorForm' class='editorForm'>

        <div class='returnBtnCntr'><mat-icon class='returnBtn' (click)="returnToDash()">keyboard_arrow_left</mat-icon></div>

        
        <div class='form-group'>
            <div class='nameBtnCntr'>
                <input name='name' placeholder='Note Name' id='noteNameInput'/>
            
                <button class='saveNoteBtn' >Save Changes</button>
            </div>

            <quill-editor class='editor' formControlName='editor'></quill-editor>
        </div>
    </form>
</div>
