
.noteView {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.returnBtnCntr {
    position: relative;
    top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.returnBtn {
    position: relative;
    font-size: 45px;
    height: 3rem;
    width: 3rem;
    font-weight: 600; 
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.returnBtn:hover, .saveNoteBtn:hover, .deleteNoteBtn:hover {
    background: #343a40;
    color: #fff;
    transition: .2s linear ;
}

.returnBtn:active, .saveNoteBtn:active, .deleteNoteBtn:active {
    background: none;
    color: #343a40;
    transition: none;
}

.editorForm {
    position: relative;
    height: 90%;
    width: 21.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    position: relative;
    top: 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameBtnCntr {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#noteNameInput {
    position: relative;
    left: 10px;
    height: 2rem;
    font-size: 17px;
    background: none;
    border: none;
}

.saveNoteBtn, .deleteNoteBtn {
    position: relative;
    right: 10px;
    border: none;
    font-size: 17px;
    background: none;
    font-weight: 600;
    cursor: pointer;
    color: #343a40;
    outline: none;
}

.deleteNoteBtn {
    height: 2.1rem;
    right: 12px;
    padding: 0px 15px;
}

.editor {
    height: 90%;
    width: 100%;
}

@media screen and (min-width: 500px) {
    .editorForm {
        width: 30rem;
    }

    #noteNameInput { width: 16rem; }
}

@media screen and (min-width: 650px) {
    .editorForm {
        width: 35rem;
    }

    #noteNameInput {
        width: 18rem;
        font-size: 18px;
    }
}

@media screen and (min-width: 800px) {
    .editorForm {
        width: 42rem;
    }
}

@media screen and (min-width: 1000px) {
    .editorForm {
        left: 20rem;
    }
}

@media screen and (min-width: 1150px) {
    .editorForm {
        left: 24rem;
    }
}

@media screen and (min-width: 1300px) {
    .editorForm {
        left: 30rem;
        width: 45rem;
    }
}

@media screen and (min-width: 1600px) {
    .editorForm {
        left: 35rem;
        width: 50rem;
    }

    #noteNameInput {
        width: 22rem;
    }

    .saveNoteBtn, .deleteNoteBtn {
        right: 3rem;
    }
}

@media screen and (min-width: 1900px) {
    .editorForm {
        left: 42rem;
    }
}

@media screen and (min-width: 2350px) {
    .editorForm {
        left: 60rem;
    }
}