body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.navbar {
    color: white;
    height: 4.2rem;
    display: flex; 
    justify-content: space-between;
    align-items: center;
  }
  
  #logo {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 500;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    pointer-events: none; 
  }
  
  .noteNameInput {
    position: relative;
    right: 10px;
    width: 15rem;
    height: 2rem;
    padding: 0px 10px;
    outline: none;
  }
  
  .icon {
    position: relative;
    cursor: pointer;
    /* outline: 1px solid red; */
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
  }
  
  .icon:hover {
    background: #3F474E;
    transition: .3s linear;
  } 
  
  .icon:active {
    background: none;
    transition: .1s linear;
  }
  
  @media screen and (min-width: 650px) {
    .noteNameInput {
      width: 20rem;
    }
  }
  
  @media screen and (min-width: 800px) {
    .noteNameInput {
      width: 25rem;
    }
  }
  
  
  @media screen and (min-width: 1000px) {
    #logo {
      position: relative;
      opacity: 1;
      pointer-events: auto;
    }
  
    .icon {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }
  
    .noteNameInput {
      width: 30rem;
    }
  }