
mat-sidenav-container {
    position: absolute;
    left: -20rem;
    opacity: 0;
    pointer-events: none;
    height: 100%;
    width: 13rem;
    background: #fafafa;
    display: flex;
    box-shadow: 1px 1px 5px #343a40, -1px -1px 5px #343a40;
    flex-direction: column;
    align-items: center;
    animation: SidebarOutOfView 1.5s 1;
    /* outline: 1px solid red; */
}

@keyframes SidebarToView {
    0% {
        transform: translateX(-20rem);
    }
    50% {
        transform: translateX(0rem);
    }
}

@keyframes SidebarOutOfView {
    0% {
        transform: translateX(0rem);
    }

    50% {
        transform: translateX(-20rem);
    }
}

mat-sidenav-container  {
    position: absolute;
    left: 0px;
    opacity: 1;
    pointer-events: auto;
    animation: SidebarToView 1.5s 1;
}

.sidenav {
    height: 100%;
    width: 100%;
    background: #fff;
    box-shadow: 2px 2px 2px #343a40;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebarLogo {
    position: relative;
    top: 1rem;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
    pointer-events: none;
}

.addNoteForm {
    position: relative;
    top: 3rem;
    display: flex;
    flex-direction : column;
    align-items: center; 
}

.addNoteForm * {
    height: 2rem;
    width: 90%;
    margin-bottom: .5rem;
    /* background: red; */
}

#noteNameInput {
    width: 95%;
}

.sidenav #submitBtn {
    height: 2.1rem;
    width: 95%;
}

.notesprvCntr {
    position: relative;
    top: 5rem;
    width: 100%;
    height: 70%;
    overflow-x: hidden;
    overflow-y: scroll;;
    box-shadow: 0px -2px 5px #343a40;
}

.notesprvCntr::-webkit-scrollbar, mat-sidenav-container::-webkit-scrollbar {
    width: 0px;
}

.indPrevNote {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    cursor: pointer;
    box-shadow: 0px 1px 0px #343a40;
    /* outline: 1px solid blue; */
}

.indPrevNote:hover {
    background: rgba(52, 58, 64, .1);
    transition: .1s linear;
}

.indPrevNote:active {
    background: none;
}

.prevNoteName {
    position: relative;
    top: 5px;
    left: 10px;
    display: flex;
    align-items: center;
    width: 77%;
    height: 2rem; 
    font-size: 17px;
    font-weight: 500;
    overflow: auto;
    /* outline: 1px solid red; */
}

.removeNoteBtn {
    position: relative;
    right: 10px;
    /* width: 50px; */
    /* outline: 1px solid red; */
    cursor: pointer;
}

.removeNoteBtn:hover {
    color: #fff;
    background: #bf0603;
    transition: .1s linear;
}

.removeNoteBtn:active {
    color:#343a40;
    background: none;
    transition: .1s linear;
}

@media screen and (min-width: 650px) {
    mat-sidenav-container {
        width: 15rem;
    }

    #noteNameInput, .sidenav #submitBtn {
        width: 100%;
    }
 }
  

 @media screen and (min-width: 800px) {
    mat-sidenav-container {
        width: 17rem;
    }

    .addNoteForm {
        width: 90%;
    }
  }

@media screen and (min-width: 1000px) {
    mat-sidenav-container {
        position: absolute;
        animation: none;
        opacity: 1;
        /* width: 20rem; */
    }

    #sidebarLogo {
        opacity: 0;
        pointer-events: none;
    }
}
  

@media screen and (min-width: 1300px) {
    mat-sidenav-container {
        left: 5rem;
        width: 20rem;
    }
}

@media screen and (min-width: 1600px) {
    mat-sidenav-container {
        left: 10rem;
    }
}

@media screen and (min-width: 1900px) {
    mat-sidenav-container {
        left: 15rem;
    }
}

@media screen and (min-width: 2350px) {
    mat-sidenav-container {
        left: 32rem;
    }
}