
<mat-sidenav-container class={{sidebarStatus()}}>
    <mat-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class='sidenav'>
        <a class='navbar-brand' id='sidebarLogo'>NotePad</a>

        <button type='submit' class='btn btn-primary btn-block' id={{showAddNoteBtn()}} (click)='setAddNote()'>Add Note</button>

        <form class={{showAddNote()}}>
            <input name='name' placeholder='Note Name' class='input-group-text' id='noteNameInput'/>

            <button type='submit' (click)='setAddNote()' class='btn btn-primary btn-block' id='addNoteBtn'>Add Note</button> 
        </form>

        <div class='notesprvCntr' *ngFor="let note of notes; let i = index">
            <div class='indPrevNote' routerLink='/note'>
                <p class='prevNoteName'>{{note.name}}</p>
                <mat-icon class='removeNoteBtn'>remove</mat-icon>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
